# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\project_ola\last\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
